.catPhotoList {
  height: 100%;
}

.frame {
  height: 12.5rem;
  display: flex;
}
.drawerKnob {
  width: 3rem;
  background-color: #ffd95e;
  border-radius: 20px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.arrow {
  width: 10rem;
}

/* ... 기존 .catPhotoList, .frame, .drawerKnob 스타일은 그대로 둬 ... */

.tract {
  width: 100%;
  display: flex;
  gap: 1.25rem;
  padding: 0 1rem; /* 상하는 0, 좌우는 1rem */
  align-items: center;
  border: 2px solid #ffd95e;
  background-color: rgba(255, 217, 94, 0.5);

  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* 파이어폭스 스크롤바 숨기기 */
}

/* 크롬, 사파리에서 스크롤바 안 보이게 */
.tract::-webkit-scrollbar,
.MoTrack::-webkit-scrollbar {
  display: none;
}

.thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail {
  width: auto;
  height: 9rem;
  cursor: pointer;
  flex-shrink: 0;
}

/* ======================== @media ============================= */

@media only screen and (max-width: 768px) {
  .MoTrack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: grab;

    border: 2px solid #ffd95e;
    background-color: rgba(255, 217, 94, 0.5);
    margin-top: -1rem;
    padding-top: 2rem;
  }

  .MoTrack.active {
    cursor: grabbing;
  }

  .frame {
    display: flex;
    flex-direction: column;
  }
  .frame:active {
    transform: translateX(-10%);
    transition: transform 0.1 ease-in-out;
    color: #ffc400;
  }
  .MoDrawerKnob {
    width: 100%;
    height: 2rem;
    min-width: 18.9375rem;
    background-color: #ffd95e;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  .arrow {
    width: 10rem;
  }
  .thumbnail {
    flex-shrink: 0;
    width: 10rem;
    height: auto;
    cursor: pointer;
  }
}
