.catPhotoList {
  width: max-content;
  height: 100%;
}

.waitForPet {
  white-space: nowrap;
}
.frame {
  /* ////////////animation//////////////////////// */
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  overflow: visible;

  background-color: red;
}

.tract {
  position: relative;
  width: 10rem;
  height: 16rem;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  padding: 0;
}

.tract li {
  cursor: pointer;
}
.thumbnail {
  width: 10rem;
  /* ////////////animation//////////////////////// */
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: visible;
  margin-top: -5rem;
}

.thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
}
.rotateThumbnail {
  transform: rotate(-180deg);
  aspect-ratio: 9/16;
  width: 10rem;
  height: 10rem;
}
