button {
  all: unset;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
}
.btn {
  display: block;
  padding: 0.6rem;
  width: 100%;
  border-radius: 0 20px 20px 0;
  background-color: bisque;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;

  user-select: none;
  -webkit-user-select: none; /* Safari 브라우저 지원 */
}
